body
{
	font-family:sans-serif;
}

h1
{
	margin-top:0;
}

div#sidepane
{
	float:right;
	width:400px;
	padding-right:10px;
}

div#brainscan
{
	float:right;
}

div#statistics
{
	clear:both;
}

div#diagram
{
	float:left;
	width:510px;
}

div#footer
{
	clear:both;
	padding-top:0.25em;
}

textarea#braindata
{
	width:100%;
}
